.component-button {
  display: inline-flex;
  flex: 1 0 auto;
}

.component-button.wide {
  width: 50%;
}

.component-button button {
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: 1px solid var(--border-color);
  font-size: 1.5rem;
  margin: 0 1px 0 0;
  flex: 1 0 auto;
  padding: 0;
}

.component-button:last-child button {
  margin-right: 0;
}

.component-button.orange button {
  background-color: var(--operator-button-background);
  color: var(--operator-button-text-color);
}

.component-button.scientific button {
  background-color: var(--primary-color);
  color: white;
}
